/* Copyright 2020 the Deno authors. All rights reserved. MIT license. */

@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

/* removes focus outlines on mouse clicks */
*:focus:not(:focus-visible),
*::before:focus:not(:focus-visible),
*::after:focus:not(:focus-visible) {
  outline: none;
}

/* https://github.com/denoland/deno_website2/issues/1163 */
.language-toml > code > .token-line > .table {
  display: inline;
}

.link {
  @apply text-blue-500;
  @apply transition;
  @apply duration-75;
  @apply ease-in-out;
}

.link:hover {
  @apply text-blue-400;
}

span.token.plain:empty:before {
  content: "\200b";
}

ol.nested {
  counter-reset: item;
}
ol.nested li {
  display: block;
}
ol.nested li:before {
  font-feature-settings: "kern" 1, "tnum" 1;
  -webkit-font-feature-settings: "kern" 1, "tnum" 1;
  -ms-font-feature-settings: "kern" 1, "tnum" 1;
  -moz-font-feature-settings: "kern" 1, "tnum" 1;
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.prism-code {
  tab-size: 2;
  -moz-tab-size: 2;
}
.highlight-line {
  background-color: #fffbdd;
}

ul.tree,
ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tree ul {
  margin-left: 12px;
}

ul.tree li {
  margin: 0;
  padding: 0 8px;
  line-height: 20px;
  border-left: 1px solid rgb(100, 100, 100);
}

ul.tree li:last-child {
  border-left: none;
}

ul.tree li:before {
  position: relative;
  top: -4px;
  height: 12px;
  width: 12px;
  color: white;
  border-bottom: 1px solid rgb(100, 100, 100);
  content: "";
  display: inline-block;
  left: -4px;
}

ul.tree li:last-child:before {
  border-left: 1px solid rgb(100, 100, 100);
}

/* 404 Page */

.NotFoundPage {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.NotFoundPage header {
  text-align: center;
  padding: 10vh 2rem;
  z-index: 3;
}

.NotFoundPage #animation {
  margin-top: auto;
  width: 100%;
  pointer-events: none;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.NotFoundPage #animation #ferris404 {
  transform: translateY(22px);
  width: 100px;
  position: absolute;
  left: 60%;
  bottom: 0;
}

.NotFoundPage #animation #deno404 {
  transform: translateY(24px);
  width: 200px;
  position: absolute;
  left: 10%;
  animation: move 6s linear infinite;
}

@keyframes move {
  from {
    left: -200px;
  }
  to {
    left: 100%;
  }
}
