/* Copyright 2020 the Deno authors. All rights reserved. MIT license. */

/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

/* removes focus outlines on mouse clicks */
*:focus:not(:focus-visible),
*::before:focus:not(:focus-visible),
*::after:focus:not(:focus-visible) {
  outline: none;
}

.link {
  @apply text-blue-500;
  @apply transition;
  @apply duration-75;
  @apply ease-in-out;
}

.link:hover {
  @apply text-blue-400;
}

span.token.plain:empty:before {
  content: "\200b";
}

ol.nested {
  counter-reset: item;
}
ol.nested li {
  display: block;
}
ol.nested li:before {
  font-feature-settings: "kern" 1, "tnum" 1;
  -webkit-font-feature-settings: "kern" 1, "tnum" 1;
  -ms-font-feature-settings: "kern" 1, "tnum" 1;
  -moz-font-feature-settings: "kern" 1, "tnum" 1;
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.deno-offwhite .deno-inlinecode {
  @apply bg-gray-200;
}
.prism-code {
  tab-size: 2;
  -moz-tab-size: 2;
}
.highlight-line {
  background-color: #fffbdd;
}